{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block title %}Play Tennis Login{% endblock %}



{% block content %}

<div id = "login" class="container mt-5">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h2 class="text-center mb-4">Login to <strong>Play Tennis</strong></h2>



      {% if messages %}

        {% for message in messages %}

          <div class="alert alert-{{ message.tags }}">{{ message }}</div>

        {% endfor %}

      {% endif %}



      <form method="post" novalidate>

        {% csrf_token %}

        {{ form|crispy }}

        <button class="booking-login" type="submit">Login</button>

      </form>



      <hr class="my-4">



      <p class="text-center">Don’t have an account yet?</p>

      <div class="d-flex justify-content-center">

        <a href="{% url 'register' %}" class="signup-button">Sign Up</a>

      </div>

    </div>

  </div>

</div>

{% endblock %}