:root {
  --font-primary: "Bebas Neue", cursive; /*titles and headings*/
  --font-secondary: "Roboto", sans-serif; /*paragraphs*/
  --color-text-heading: white;
  --color-text-main: #2c3539;
}

body {
  font-family: var(--font-secondary);
  color: var(--color-text-main);
  font-size: 1.25rem;
}

/* Force the toggler to always show on small screens */
.navbar-toggler {
  display: block !important;
  z-index: 1050; /* above other elements */
}

header#navbar {
  background-color: rgba(24, 93, 106, 1) !important;
  position: relative;
  z-index: 10;
}

.hero-section {
  position: relative;
  background-image: url("../images/main_image.jpg"); /* path relative to your CSS file */
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45); /* dark overlay for text visibility */
  backdrop-filter: brightness(0.9);
  z-index: 0;
}

.hero-section .container {
  position: relative;
  z-index: 1;
}
h1 {
  font-family: var(--font-primary);
}
.start-title {
  font-family: var(--font-secondary);
  color: rgba(183, 206, 180);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
  font-weight: 600;
}
.title {
  font-family: var(--font-secondary);
  color: rgba(232, 232, 232);
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.55);
  font-weight: 700;
}
#about {
  font-family: var(--font-secondary);
  background-color: rgba(196, 217, 222, 0.8);
}
.info {
  font-family: var(--font-secondary);
  color: var(--color-text-main);
  font-size: 1.25rem;
  font-weight: bold;
}
#register,
#login,
#court_booking {
  background-color: rgba(196, 217, 222, 0.8);
  padding: 2rem;
  border-radius: 0.5rem;
}

a.home-button {
  display: inline-block;
  background-color: rgba(24, 93, 106, 1);
  color: #fff;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

a.home-button:hover {
  background-color: rgba(31, 120, 137, 1);
  color: #fff;
}
