{% extends "base.html" %}
{% load static %}

{% block title %}Home - Play Tennis{% endblock %}

{% block content %}
<div class="hero-section text-white d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-3 fw-bold start-title">Welcome to <span class="title">Play Tennis</span></h1>
    <p class="lead">Book your tennis court and start playing today.</p>
    <a href="{% url 'create_booking' %}" class="btn btn-primary mt-3">Make a Booking</a>
  </div>
</div>
{% endblock %}
